.header-content{
  margin: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  .logo{
    width: 30%;
  }

  .buscador{
    width: 50%;
    input{
      padding: 15px;
      border: 1px solid silver;
      border-radius: 100px 0px 0px 100px;
    }
    select{
      padding: 15px;
      border: 1px solid silver;
    }
    .boton {
      background-color:$green;
      color: $white;
      padding: 15px;
      border: 1px solid $green;
      border-radius: 0px 100px 100px 0px;
      cursor: pointer;
    }
  }

  .carro{
    width: 20%;
  }

}
