
// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

// Variables
@import 'variables';
@import "header";


//contenedor
body{
  font-family: $font-family-sans-serif;
}


.contenedor{
  width: 1100px;
  margin: 0 auto;
}

