@import url(https://fonts.googleapis.com/css?family=Oswald:400,500,600,700);.header-content {
  margin: 10px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content .logo {
  width: 30%;
}

.header-content .buscador {
  width: 50%;
}

.header-content .buscador input {
  padding: 15px;
  border: 1px solid silver;
  border-radius: 100px 0px 0px 100px;
}

.header-content .buscador select {
  padding: 15px;
  border: 1px solid silver;
}

.header-content .buscador .boton {
  background-color: #26BE09;
  color: #fff;
  padding: 15px;
  border: 1px solid #26BE09;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
}

.header-content .carro {
  width: 20%;
}

body {
  font-family: "Oswald", sans-serif;
}

.contenedor {
  width: 1100px;
  margin: 0 auto;
}

